<div class='cards-agora'>
  <h3>Choisi la question que tu veux découvrir</h3>
    <% channels.each do |channel| %>
      <div class="card-channel">
        <%= image_tag 'corps.png', class: 'avatar-agora' %>
        <div class="card-channel-infos">
          <h4> <%= channel.title %> </h4>
        </div>
      </div>
    <% end %>
</div>