<div class="background-color">

  <div class='question'>
  <h5>Publication<h5>
    <div class="card-channel">
      <%#= image_tag 'corps.png', class: 'avatar' %>
      <div class="card-channel-infos">
        <div class="top-infos">
          <h4> Username <%#= user.username %> </h4>
          <p> Il y a trois jours </p>
        </div>
        <div class="bottom-infos">
          <p> <%= @channel.title %> </p>
        </div>
        <div class="comment-part">
          <%# input %>
        </div>
      </div>
    </div>
  </div>

  <div class="card-comment">
    <%# @channels.comments.each do |comment| %>
      <%#= image_tag 'corps.png', class: 'avatar' %>
      <div class="card-comment-infos">
        <div class="top-infos">
          <h4> Username <%#= user.username %> </h4>
          <p> Il y a trois jours </p>
          <%#=  %>
          <%#=  %>
        </div>
        <div class="comment-part">
          <%# input %>
        </div>
      </div>
    <%# <% end %>
  </div>

</div>