<div class="background-color">
  <div class="card-search">
    <i class="fas fa-arrow-left"></i>
  </div>
</div>

<div style="margin-top: 320px; text-align: center;">
  <h3>Félicitations !</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit porttitor nunc interdum suspendisse.</p>
</div>
<div>
  <%= link_to "Retour aux quizzes", theme_quizzes_path(@quiz.theme), class: 'btn-principal links'%>
</div>
