// Define variables for your color scheme
// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$background-beige: #FCDBCE;
$blue-btn: #73b4d4;
$pourpre: #AD6C80;
$dark-pourpre: #AD6C80;
// $peach: #FBAB8C;

$peach: #F2B69E;
$green-right: #28DF99;
$pink: #FA26A0;
$dark-brown: #532D20;

