<div class='card-themes'>
  <h3>Choisi le quiz qui te donne des frissons<h3>
    <% quizzes.each do |quiz| %>
      <div class="card-theme">
        <%= image_tag 'corps.png', class: 'img-taille' %>
        <div class="card-theme-infos">
          <h4> <%= quiz.level %> </h4>
          <p> <%#= quiz.description %> </p>
        </div>
      </div>
    <% end %>
</div>
