<div class="position background-color">

  <%# <div class="card-search"> %>
    <%= form_tag themes_path, class:"form-input", method: :get do %>
      <div class="search-form-control form-group">
        <%= text_field_tag :query, params[:query], placeholder: "Je tape ma recherche", class: "form-control" %>
        <%#= submit_tag "s", class: "btn"%>
        <button name="button" type="submit" class="btn">
          <i class="fas fa-search"></i>
        </button>
      </div>
    <% end %>
  <%# </div> %>

  <div class="slide-part">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link head tn active" id="home-tab" data-toggle="tab" href="#theme" role="tab" aria-controls="theme" aria-selected="true">Thème</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link head tn" id="resas-tab" data-toggle="tab" href="#agora" role="tab" aria-controls="agora" aria-selected="false">Agora</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link head tn" id="resas-tab" data-toggle="tab" href="#video" role="tab" aria-controls="video" aria-selected="false">Vidéo</a>
        </li>
      </ul>

      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="theme" role="tabpanel" aria-labelledby="theme-tab">
          <%= render 'content_theme', themes: @themes %>
          <%#= render 'content_quiz', quizzes:@quizzes %>
        </div>
        <div class="tab-pane fade" id="agora" role="tabpanel" aria-labelledby="agora-tab">
          <%#= render 'content_agora', channels: @channels %>
        </div>
        <div class="tab-pane fade" id="video" role="tabpanel" aria-labelledby="video-tab">
          <%#= render 'content_video', videos: @videos %>
        </div>
      </div>
    </div>

</div>

 <%# <div class="card-search"> %>
    <%#= simple_form_for :search, method: :get, html: {class:"form-input"}  do |f| %>
      <%# <div class="search-form-control form-group"> %>
        <%#= f.input class="form-control string required" type="text" placeholder="Je tape ma recherche" name="search[query]" id="input-search" %>
        <%#= f.submit, class="btn" %>
      <%# </div> %>
    <%# end %>
  <%# </div> %>
