<div class='part-video'>
  <h3>Choisi la vidéo qui t’attire</h3>
    <% videos.each do |video| %>
      <div class="card-video">
        <%#= image_tag video.url, class: 'avatar-agora' %>
        <div class="card-video-infos">
          <h4> <%= video.title %> </h4>
        </div>
      </div>
    <% end %>
</div>
