<div class='part-video'>
  <h3>Choisi la vidéo qui t’attire</h3>
      <div class="card-video1">
        <div class="card-video-infos">
          <h4> #</h4>
        </div>
      </div>
      <div class="card-video2">
        <div class="card-video-infos">
          <h4># </h4>
        </div>
      </div>
      <div class="card-video3">
        <div class="card-video-infos">
          <h4> # </h4>
        </div>
      </div>
</div>
