<div class="navbar"
  <div class="why">
    <div class="container d-flex">
      <%= link_to themes_path, class: "icon-nav" do %>
        <i class="far fa-lightbulb"></i>
        <%# <i class="fas fa-lightbulb">Active</i> %>
      <% end %>

      <%= link_to channels_path, class: "icon-nav" do %>
        <i class="far fa-comment"></i>
        <%# <i class="fas fa-comment">Active</i> %>
      <% end %>

      <%= link_to videos_path, class: "icon-nav" do %>
        <i class="far fa-play-circle"></i>
        <%# <i class="fas fa-play-circle">Active</i> %>
      <% end %>

      <%#= link_to user_quiz_path(user_id), class: "icon-nav" do %>
        <i class="far fa-user-circle"></i>
        <%# <i class="fas fa-user-circle">Active</i> %>
      <%# <% end %>
    </div>
  </div>

  <%# <div> %>
    <%#= link_to root_path do %>
      <%#= image_tag "butt.png", class: "butt" %>
    <%# <% end %>
  <%# </div> %>

</div>
