<body>
  <div>
    <div class="card-chat">

    </div>
      <div>
        <%= image_tag 'informafion.png', class: 'img-fion' %>
      </div>
    <div class="card-chat-blue">
      <%= link_to explainer_two_path do %>
        <i class="fas fa-arrow-right"></i>
        <% end %>
    </div>
  </div>
</body>
