<body>
  <div>
    <div class="card-chat">

    </div>
      <div>
        <%= image_tag 'informafion.png', class: 'img-fion' %>
      </div>
    <div class="card-chat-blue">
      <% if user_signed_in? %>
      <%= link_to app_path do %>
       <i class="fas fa-arrow-right"></i>
       <% end %>
     <% else %>
      <%= link_to new_user_registration_path do %>
        <i class="fas fa-arrow-right"></i>
     <% end %>
     <% end %>
    </div>
  </div>
</body>
