<body class="background-color">
  <div class="container">
  <div>
    <%= image_tag "corps.png", class: 'img-nude' %>
  </div>

  <div>
    <h1 style="text-align: center;" class="title">Sexplore</h1>
  </div>
  <div class="btn-position">
    <p class="btn-principal"><%= link_to "Je commence", explainer_one_path %></p>
  </div>
  </div>
</body>
