.background-color {
  background-color: #FFE5DB;
   font-family: 'Maven Pro', sans-serif;
  // margin-bottom: 100px;
}

body {
  background-color: #FFE5DB;
  font-family: 'Maven Pro', sans-serif;
  // margin-bottom: 100px;
}
