#btn-secondary-log {
  background-color: white;
  box-shadow: 0px 4px 24px #D4D4D4;
  width: 148px;
  height: 53px;
  text-align: center;
  border-radius: 16px;
  padding: 14px 22px;
  color: white;
  font-size: 16px;
  margin-top: 38px;
  margin-left: 33px;
  font-family: 'Maven Pro', sans-serif;
  border: 1px solid #b6e2fc;
  color: #b6e2fc;

}
