//bs home1 + login
.btn-blue-home {
  background-color: $blue-btn;
  box-shadow: 0px 4px 24px #D4D4D4;
  width: 200px;
  height: 55px;
  border-radius: 16px;
  padding: 14px 22px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  margin-top: 50px;
  margin-bottom: 90px;
  font-family: 'Maven Pro', sans-serif;
  text-align: center;
}

//btns questions
.btn-grey-question {
  background-color: #696969;
  box-shadow: 0px 4px 24px #D4D4D4;
  width: 200px;
  height: 55px;
  border-radius: 16px;
  padding: 14px 21px;
  color: #D4D4D4;
  font-size: 16px;
  font-family: 'Maven Pro', sans-serif;
  font-weight: 500;
  margin-top: 20px;
  text-align: center;
  border: none;
}

.btn-blue-question {
  background-color: $blue-btn;
  box-shadow: 0px 4px 24px #D4D4D4;
  width: 200px;
  height: 55px;
  border-radius: 16px;
  padding: 14px 21px;
  color: white;
  font-size: 16px;
  font-family: 'Maven Pro', sans-serif;
  font-weight: 500;
  margin-top: 20px;
  text-align: center;
  border: none;
}

//page sign-up div
.btn-login {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 90px;
  margin-left: 20px;
  margin-right: 20px;
}

//page sign-up btn sign-up
#btn-je-minscris {
  background-color: $blue-btn;
  box-shadow: 0px 4px 24px #D4D4D4;
  width: 158px;
  height: 53px;
  border-radius: 16px;
  padding: 14px 22px;
  margin-top: 38px;
  font-family: 'Maven Pro', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: white;
  text-align: center;
}

//page sign-up btn sign-in
#btn-deja-inscrit {
  background-color: white;
  box-shadow: 0px 4px 24px #D4D4D4;
  border: 1px solid $blue-btn;
  border-radius: 16px;
  width: 158px;
  height: 53px;
  padding: 14px 22px;
  margin-top: 38px;
  margin-left: 20px;
  font-family: 'Maven Pro', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: $blue-btn;
  text-align: center;
}

a.active {
  text-decoration: none;
}

//page sign-in sign-up link
#signup-link {
  margin-top: 0;
  ;
}
