.btn-principal {
  background-color: #b6e2fC;
  box-shadow: 0px 4px 24px #D4D4D4;
  width: 450px;
  height: 120px;
  text-align: center;
  border-radius: 16px;
  padding: 26px 22px;
  color: white;
  font-size: 40px;
  margin-top: 200px;
  font-family: 'Maven Pro', sans-serif;
}

.btn-position {
  display: flex;
  justify-content: center;
}

