//bs home1 + login
.btn-blue-home {
  background-color: #8CCDF3;
  box-shadow: 0px 4px 24px #D4D4D4;
  width: 200px;
  height: 55px;
  text-align: center;
  border-radius: 16px;
  padding: 14px 22px;
  color: white;
  font-size: 16px;
  margin-top: 50px;
  margin-left: 90px;
  margin-bottom: 90px;
  font-family: 'Maven Pro', sans-serif;
}

//autres btns
.btn-blue {
  position:absolute;
  background-color: #8CCDF3;
  box-shadow: 0px 4px 24px #D4D4D4;
  width: 200px;
  height: 55px;
  text-align: center;
  border-radius: 16px;
  padding: 14px 21px;
  color: white;
  font-size: 16px;
  margin-bottom: 90px;
  font-family: 'Maven Pro', sans-serif;
  top: 575px;
  margin-left: 70px;
  text-decoration: none;
  border: none;
}

.btn-blue-explications {
  position:absolute;
  background-color: #8CCDF3;
  position:absolute;
  top: 575px;
  box-shadow: 0px 4px 24px #D4D4D4;
  width: 200px;
  height: 55px;
  text-align: center;
  border-radius: 16px;
  padding: 14px 22px;
  color: white;
  font-size: 16px;
  font-family: 'Maven Pro', sans-serif;
  margin-left: 90px;
  text-decoration: none;
  border: none;
}

//btn quiz
.btn-blue-end-quiz {
  background-color: #8CCDF3;
  box-shadow: 0px 4px 24px #D4D4D4;
  width: 200px;
  height: 55px;
  text-align: center;
  border-radius: 16px;
  padding: 14px 22px;
  color: white;
  font-size: 16px;
  margin-left: 85px;
  margin-bottom: 90px;
  font-family: 'Maven Pro', sans-serif;
  text-decoration: none;
  border: none;
}

//page sign-up div
.btn-login {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 90px;
  margin-left: 20px;
  margin-right: 20px;
}

//page sign-up btn sign-up
#btn-je-minscris {
  background-color: #8CCDF3;
  box-shadow: 0px 4px 24px #D4D4D4;
  width: 158px;
  height: 53px;
  border-radius: 16px;
  padding: 14px 22px;
  margin-top: 38px;
  font-family: 'Maven Pro', sans-serif;
  font-size: 16px;
  color: white;
  text-align: center;
}

//page sign-up btn sign-in
#btn-deja-inscrit {
  background-color: white;
  box-shadow: 0px 4px 24px #D4D4D4;
  border: 1px solid #8CCDF3;
  border-radius: 16px;
  width: 158px;
  height: 53px;
  padding: 14px 22px;
  margin-top: 38px;
  margin-left: 20px;
  font-family: 'Maven Pro', sans-serif;
  font-size: 16px;
  color: #8CCDF3;
  text-align: center;
}

a.active {
  text-decoration: none;
}

//page sign-in sign-up link
#signup-link {
  margin-top: 0;
  ;
}
