.btn-search {
  position: absolute;
  width: 69px;
  height: 60px;
  left: 286px;
  top: 93px;

  background: #FFFFFF;
  border: 1px solid #532D20;
  box-sizing: border-box;
  border-radius: 0px 8px 8px 0px;

}
