.btn-principal {
  background-color: #b6e2fC;
  box-shadow: 0px 4px 24px #D4D4D4;
  width: 197px;
  height: 53px;
  text-align: center;
  border-radius: 16px;
  padding: 14px 22px;
  color: white;
  font-size: 16px;
  margin-top: 70px;
  font-family: 'Maven Pro', sans-serif;
}

.btn-position {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 90px;
  margin-left: 23px;
}

a.active {
  text-decoration: none;

}

#btn-principal-connection {
  background-color: #b6e2fC;
  box-shadow: 0px 4px 24px #D4D4D4;
  width: 148px;
  height: 53px;
  text-align: center;
  border-radius: 16px;
  padding: 14px 22px;
  color: white;
  font-size: 16px;
  margin-top: 38px;
  font-family: 'Maven Pro', sans-serif;
}
