.all-swipe {
  margin-top: 15px;
  text-align: center;
  height: 20px;
}

#swiper-button-prev {
  top: 450px;
  color: #8CCDF3;
  margin-left: 20px;
}

#swiper-button-next {
  top: 450px;
  color: #8CCDF3;
  margin-right: 20px;
}

:root {
  --swiper-navigation-size: 25px !important;
}
