.card {
  position: absolute;
  width: 375px;
  height: 287px;
  left: 0px;
  top: 0px;
  background: #FFFFFF;
  border-radius: 0px 0px 50px 50px;
}

.card-chat {
  width: 248px;
  height: 207px;
  background: white;
  border-radius: 24px 24px 24px 0px;
  border: solid 1px;
  border-color: $pourpre;
  box-shadow: 0px 4px 24px #D4D4D4;
  margin-left: 107px;
  margin-top: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.card-chat p {
  margin-bottom: 0;
  font-family: 'Maven Pro', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.card-chat-blue {
  width: 244px;
  height: 170px;
  background: $blue-btn;
  border-radius: 24px 24px 0px 24px;
  position: relative;
  box-shadow: 0px 4px 24px #D4D4D4;
  margin-left: 20px;
  margin-top: 30px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.card-chat-blue p {
  margin-bottom: 0;
  font-family: 'Maven Pro', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: white;
}

.arrow {
  position: absolute;
  left: 210px;
  bottom: 8px;

}
.fa-arrow-right {
  color: white;
  font-size: 18px;
}
