.card-theme {
  width: 316px;
  height: 120px;
  left: 0px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  align-items: center;
  display: flex;

}

.card-theme img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-them h5 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-theme p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-them .card-theme-infos {
  padding: 16px;
}
