.swiper-wrapper {
  margin-top: 15px;
  text-align: center;
  height: 20px;
}

#swiper-button-prev{
  top: 450px;
  color: #b6e2fc;
  margin-left: 20px;
}
#swiper-button-next {
  top: 450px;
  color: #92d7ff;
  margin-right: 20px;
}
