.question-part h3 {
  font-family: 'Maven Pro', sans-serif;
  font-size: 18px;
  margin-top: 50px;
  font-weight: 400;
  text-align: center;
  color: #AD6C80;
}

.card-chat-question {
  width: 280px;
  background: white;
  border-radius: 8px 8px 8px 0px;
  border: 1px solid #AD6C80;
  box-shadow: 0px 4px 24px #D4D4D4;
  margin-left: 75px;
  display: flex;
  text-align: left;
  padding: 10px;
  align-items: center;
  margin-top: 25px;
}

.card-chat-question p {
  margin-bottom: 0;
  font-family: 'Maven Pro', sans-serif;
  font-size: 16px;
  font-weight: 400;
}