.form-check {
  width: 335px;
  min-height: 80px;
  background-color: #F2B69E;
  margin-top: 18px;
  border: solid 1px #8CCDF3;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  color: white;
  padding: 10px;
  display: flex;
  text-align: left;
  align-items: center;
}

.form-check-input {
  position: absolute;
  transform: scale(0);
}

.form-check-input+label {
  cursor: pointer;
}

.form-check-input:checked+label {
  color: #9C6274;
}
