.card {
  position: absolute;
  width: 375px;
  height: 287px;
  left: 0px;
  top: 0px;
  background: #FFFFFF;
  border-radius: 0px 0px 50px 50px;
}

.card-chat {
  width: 248px;
  height: 207px;
  background: white;
  border-radius: 24px 24px 24px 0px;
  border: solid 1px;
  border-color: #AD6C80;
  box-shadow: 0px 4px 24px #D4D4D4;
  margin-left: 107px;
  margin-top: 90px;
}


.card-chat-blue {
  width: 244px;
  height: 160px;
  background: #B6E2FC;
  border-radius: 24px 24px 0px 24px;
  position: relative;
  box-shadow: 0px 4px 24px #D4D4D4;
  color: white;
  margin-left: 20px;
  margin-top: 50px;
}

#card-chat-small {
  width: 272px;
  height: 47px;
  background: white;
  border-radius: 8px 8px 8px 0px;
  border: solid 1px;
  border-color: #AD6C80;
  box-shadow: 0px 4px 24px #D4D4D4;
  margin-left: 80px;
  margin-top: 36px;
  text-align: center;
  padding: 10px;
}

.registration-bar {
  width: 272px;
  height: 48px;
  left: 80px;
  background: #532D20;
  box-shadow: -4px 4px 24px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-top: -25px;
}

.password-bar {
  width: 272px;
  height: 48px;
  left: 80px;
  background: #532D20;
  box-shadow: -4px 4px 24px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

}

.password-div {
  display: flex;
  height: 32px;
  padding-left: 23px;
}

.card-chat-quiz {
  width: 270px;
  height: 140px;
  background: white;
  border-radius: 8px 8px 0px 8px;
  border: solid 1px;
  border-color: #AD6C80;
  box-shadow: 0px 4px 24px #D4D4D4;
  margin-left: 20px;
  margin-top: 20px;
}
