.part-video {
  margin-left: 20px;
}

.part-video h3 {
  color: #A4A4A4;
  font-family: 'Maven Pro', sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-top: 30px;
}

.card-video {
  width: 335px;
  height: 220px;
  border: 1px solid #B6E2FC;
  border-radius: 16px;
  margin-top: 30px;
}

.card-video-infos {
  width: 335px;
  height: 50px;
  border: 1px solid #B6E2FC;
  border-radius: 0 0 16px 16px;
  margin-top: 130px;
  background-color: white;
  display: flex;
  text-align: left;
  align-items: center;
  bottom: 0;
}

.card-video-infos h4 {
  font-family: 'Maven Pro', sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 5px;
}
