.card-agoras h3 {
  color: #A4A4A4;
  font-family: 'Maven Pro', sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-top: 30px;
}

.card-agora {
  width: 335px;
  height: 80px;
  margin-top: 30px;
  background-color: white;
  border-radius: 8px;
  border: 1px solid #8CCDF3;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: left;
  align-items: center;
}

.avatar-agora {
  height: 50px;
  width: 50px;
  margin-left: 20px;
}

.card-agora .card-agora-infos {
  padding: 16px;
}

.card-agora-infos h4 {
  font-family: 'Maven Pro', sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  text-decoration: none;
  color: black;
}

.card-agora .card-agora-infos h4 a:active {
  text-decoration: none;
  color: black;
}
