.nav-tabs {
  border-bottom: 1px solid white;
}

.nav-link {
  color: black;
  font-family: 'Maven Pro', sans-serif;
  font-weight: 400;
  font-size: 20px;
}
.nav-tabs .nav-link.active {
  color: #A2D5FE;
  font-family: 'Maven Pro', sans-serif;
  font-weight: 700;
  font-size: 20px;
  border-bottom: 2px solid #A2D5FE;
  border-color: none;
  border-top: none;
  border-right: none;
  border-left: none;
}

.nav-tabs .nav-link {
  border-top: none;
  border-right: none;
  border-left: none;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  background-color: #FFE5DB;
}

.nav-tabs .nav-link:hover {
  border-bottom: 2px solid #A2D5FE;
}

