.navbar {
  background-color: white;
  justify-content: space-between;
  border: 1px solid #AD6C80;
  border-radius: 16px 16px 0px 0px;
  width: 375px;
  height: 80px;
}

.navbar .why {
  flex-grow: 0;
}
