.card-fixed {
  background-color: white;
  border: 1px solid #AD6C80;
  border-radius: 16px 16px 0px 0px;
  width: 375px;
  height: 60px;
  position: fixed;
  bottom: 0;
  justify-content: space-around;
}

.nav-link {
  flex-grow: 0;
  // color: #AD6C80;
}

