.card-fixed {
  position: relative;
  background-color: white;
  border: 1px solid #AD6C80;
  border-radius: 16px 16px 0px 0px;
  width: 100%;
  height: 40px;
  position: fixed;
  bottom: 0;
}

// .icons {
//   display: flex;
//   justify-content: space-between;
// }

.butt-logo img {
  width: 50px;
  height: 50px;
}

.butt-logo {
  position: absolute;
  bottom: 5px;
  left: 162px;
}

// .fa-home{
//   color: #F2B69E;
//   font-size: 24px;

//   &:active {
//     color: #B6E2FC;
//   }
// }

// .fa-lightbulb {
//   color: #F2B69E;
//   font-size: 24px;
//    &:active{
//      color: #B6E2FC;
//    }
// }

// .fa-comment {
//   color: #F2B69E;
//   font-size: 24px;
//     &:active{
//       color: #B6E2FC;
//     }
// }

// .fa-play-circle {
//   color: #F2B69E;
//   font-size: 24px;
//     &:active{
//       color: #B6E2FC;
//     }
// }

// .fa-user-circle {
//   color: #F2B69E;
//   font-size: 24px;
//     &:active{
//       color: #B6E2FC;
//     }
// }
