.text-btn-part {
  margin-top: 300px;
}

.card-search-video {
  background-image:  linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), asset-url("video-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 100%;
  height: 230px;
  left: 0px;
  top: 0px;
  border-radius: 0px 0px 50px 50px;
}

.fa-play-circle {
  color: white;
  font-size: 50px;
  margin-left: 160px;
  margin-top: 80px;
}
//
.congrats {
  display: flex;
  justify-content: center;
  margin-top: -32px;
}

.congrats-text {
  margin-top: 32px;
}

.congrats-title {
  height: 36px;
}

.congrats-user {
  display: flex;
  align-items: center;
  margin-left: 8px;
  font-size: 24px;
  color: $pourpre;
  justify-content: center;
}
