.form-check {
  width: 335px;
  height: 80px;
  background-color: #F2B69E;
  margin-top: 18px;
  border: solid 1px #8CCDF3;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  color: white;
  padding: 10px;
  display: flex;
  text-align: left;
  align-items: center;
}

.explications {
  margin-top: 20px;
  background-color: #F2B69E;
  width: 335px;
  margin-left: 20px;
  border-radius: 8px;
  padding: 10px;
  color: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.right {
  border: solid 2px;
  border-color: #28DF99;
}

.wrong {
  border: solid 2px;
  border-color: #FA26A0;
}

.form-check-input {
  position: absolute;
  transform: scale(0);

}

.form-check-input + label {
  cursor: pointer;
}

.form-check-input:checked + label {
  color: #9C6274;
}
