.quiz-side {
  margin-top: 270px;
  margin-left: 20px;
}

.quiz-side h3 {
  color: #A4A4A4;
  font-family: 'Maven Pro', sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin-top: 30px;
}

.card-quiz-unlock {
  position: relative;
  width: 335px;
  height: 90px;
  margin-top: 30px;
  background-color: white;
  border-radius: 8px;
  border: 1px solid $blue-btn;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.card-quiz-unlock-infos {
  position: relative;
  text-align: justify;
  bottom: 60px;
}

.card-quiz-unlock-infos h4 {
  font-family: 'Maven Pro', sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-top: 27px;
  margin-bottom: 1px;
  color: black;
  margin-left: 90px;
}

.card-quiz-unlock-infos p {
  font-family: 'Maven Pro', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 30px;
  margin-left: 90px;
  color: black;
}


.card-quiz-lock {
  position: relative;
  width: 335px;
  height: 90px;
  margin-top: 30px;
  background-color: #F3F3F3;
  border-radius: 8px;
  border: 1px solid #DDDDDD;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.card-quiz-lock-infos {
  position: relative;
  text-align: justify;
  bottom: 60px;
}

.card-quiz-lock-infos h4 {
  font-family: 'Maven Pro', sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-top: 27px;
  margin-bottom: 1px;
  color: black;
  margin-left: 90px;
}

.card-quiz-lock-infos p {
  font-family: 'Maven Pro', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 30px;
  margin-left: 90px;
  color: black;
}


.fa-check {
  color: $green-right;
  font-size: 25px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px;
}

.fa-lock {
  color: #DDDDDD;
  font-size: 25px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px;
}
